*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    background-color: rgb(219, 219, 219);
    position: sticky;
    top: 0;
    padding: 0.5em;
}
.nav-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links, .dropdown-list{
    list-style:none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(219, 219, 219);
    width: 100%;
}
.dropdown-list{
    background-color: white;
    width: 100px;
    margin-top: 0.3rem;
}
.nav-links{
    position: absolute;
    top:100%;
    left: 0;
        /*hiding navlinks on mobile*/
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.5s ease-in-out;
}
.dropdown-list{
    max-height: 0;
    overflow: hidden;
}
.nav-links.show{
    max-height: 500px;
}
.nav-links li{
    margin:0.5em;
}
.nav-links a, .dropdown button{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font:inherit;
    background: none;
    border:none;
    cursor: pointer;
}
.nav-links a:hover{
    color:rgb(88, 88, 88);
}
.dropdown:hover .dropdown-list{
    max-height: 500px;
}
section{
  padding: 1em;
  scroll-margin-top: 3em;
}
section h1{
    margin-bottom: 0.5em;
}
section p{
    margin-top: 1em;
}
@media (min-width:800px) {
    .menu{
        display: none;
    }
    .nav-links{
        max-height: none;
        flex-direction: row;
        position: static;
    }
    header{
        display: flex;
        justify-content: space-between;
    }
}